#shinyTitle{
font-family:Courgette;
color:#FFF;
font-size:25px;
}

.welcome {
    margin-left: 2%;
    margin-right:2%;
}

logo{
  color: #FFFFFF;
}

td {
  padding: 5px;
}

.modal-backdrop{
background-color:transparent;
}

.skin-blue .nav {
  	background-color: rgb(0, 38, 73);

}

.skin-blue {
  	background-color: rgb(0, 38, 73);
    /*font-color: green;*/
}

